.hideScrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
    /* WebKit */
}